
.sectionContainerBrief{
    height: 60vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 8vw;
    gap: 10px;
}

.sectionContainerBrief>h4{
    font-family: "Inter", serif;
    font-size: 18px;
    color: var(--color-red);
    text-transform: uppercase;
}

.sectionContainerBrief>h1{
    width: 50vw;
    margin-bottom: 10vh;
    font-family: "Sora", serif;
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black);
}

.containerBrief{
    display: flex;
    justify-content: space-between;
}

.divTextBrief{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divTitleBrief{
    display: flex;
    align-items: center;
    gap: 10px;
}

.verticalLine{
    height: 20px;
    border-left: 2px solid var(--color-red);
}

.divTitleBrief>h1{
    font-family: "Sora", serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-black);
    text-transform: uppercase;
}

.divTextBrief>p{
    font-family: "Sora", serif;
    font-size: 16px;
    font-style: italic;
    color: var(--color-gray);
}

/*--------------------------MOBILE------------------------------------------*/

@media screen and (max-width: 415px) {

.sectionContainerBrief{
    width: 100vw;
    height: 65vh;
    padding: 15px;
    margin-top: 5vh;
    margin-left: 0;
}

.sectionContainerBrief>h4{
    font-size: 14px;
}

.sectionContainerBrief>h1{
    width: 90vw;
    margin-bottom: 2vh;
    font-size: 20px;
}

.containerBrief{
    flex-direction: column;
    gap: 30px;
}

.divTextBrief{
    width: 100%;
}

.divTitleBrief>h1{
    font-size: 18px;
}

.divTextBrief>p{
    font-size: 14px;
}

}